<h1>Conversations</h1>

<% if @conversations.blank? %>
  <p class="alert alert-info">
    You don’t have any conversations started. <b>Go message someone!</b>
  </p>
<% else %>
  <div class="row">
    <ol class="conversations">
      <%= render @conversations %>
    </ol>
  </div>
<% end %>
