<h1>Conversations</h1>

<% if @conversations.blank? %>
  <div class="alert alert-info">
    <%= render_markdown t("inbox.no_conversations") %>
  </div>
<% else %>
  <div class="row">
    <ol class="conversations">
      <%= render @conversations %>
    </ol>
  </div>
<% end %>
