<div class="mb-5">
  <%= link_to [:admin, :dashboard],  class: "btn btn-danger" do %>
    Admin
    <span class="hidden-xs-down">Dashboard</span>
  <% end %>

  <%= link_to t("buttons.interests_button_text"),  [:admin, :interests],  class: "btn btn-secondary" %>
  <%= link_to t("buttons.activities_button_text"), [:admin, :activities], class: "btn btn-secondary" %>
</div>
