<%# social sidebar %>
<aside class="col-md-4 col-md-offset-1 col-sm-12">

  <% if show_section?(:social) %>
    <h2>Elsewhere</h1>

    <table class="table">
      <% if @user.website? %>
        <tr>
          <th>Website</th>
          <td><%= link_to @user.website, @user.website, class: "u-url url" %></td>
        </tr>
      <% end %>

      <%# TODO pull this out into either the user model settings or a URL model %>
      <% social_sites.each do |site, url| %>
        <% unless @user.send("#{site.downcase.gsub(/ /, "")}_username").blank? %>
          <tr>
            <th><%= site %></th>
            <td>
              <% if url == "@@@" %>
                <%= @user.send("#{site.downcase}_username") %>
              <% else %>
                <%= link_to @user.send("#{site.downcase.gsub(/ /, "")}_username"),
                            url.gsub(/@@@/, @user.send("#{site.downcase.gsub(/ /, "")}_username")), rel: "me" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>

    </table>
  <% end %>

  <%#= render "/users/social/this_is_my_jam" %>
</aside>
