<h1><%= t("user.blocked.heading_text") %></h1>

<%= render_markdown t("user.blocked.explanation") %>

<ul class="mb-5">
  <% current_user.blocks.each do |block| %>
    <li>
      <%= link_to block.user.username, block.user %>
    </li>
  <% end %>
</ul>
