<h1>Blocked Accounts</h1>

<p>
  These are accounts that you have blocked.
  If you need to see their profile again or want to unblock them,
  you can view their profile below.
</p>

<ul class="mb-5">
  <% current_user.blocks.each do |block| %>
    <li>
      <%= link_to block.user.username, block.user %>
    </li>
  <% end %>
</ul>

