<h1><%= t("user.delete_account.heading_text") %></h1>

<div id="danger-zone">
  <h5 class="danger-zone-title"><%= t("user.delete_account.danger_zone_heading_text") %></h5>

  <div class="danger-zone-body">
    <%= render_markdown t("user.delete_account.explanation") %>

    <%= button_to t("buttons.delete_profile_button_text"),
                  user_path(@user),
                  method:  :delete,
                  data:    { confirm: t("user.delete.delete_confirmation") },
                  class:   "btn btn-danger btn-block btn-lg" %>
  </div>
</div> <!-- #danger-zone -->
