<!--[if lt IE 7]>
  <p class="browse-happy alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com" class="alert-link">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
