<div class="sponsor">
  <p class="sponsor-label">Sponsor</p>

  <%= link_to image_tag("https://kypsy.s3.amazonaws.com/sponsors/empty.png",
                        alt: "Sponsor: Your Image Goes Here"),
              "http://farmhouse.co" %>

  <p class="sponsor-name">Sponsor Title</p>
  <p class="sponsor-description">
Sponsors can use up to 100 characters of sponsorhip body copy to tell their story, includes <a href="http://farmhouse.co">one link</a>.
  </p>
</div>
