<div class="sponsor">
  <p class="sponsor-label">Sponsor</p>

  <%= link_to image_tag("https://kypsy.s3.amazonaws.com/sponsors/shoot-it-yourself.png",
                        alt: "Sponsor: Shoot It Yourself"),
              "http://farmhouse.co/publishing/1" %>

  <p class="sponsor-name">&ldquo;Shoot It Yourself&rdquo; by Ignacio Galvez</p>
  <p class="sponsor-description">
    Beautiful black and white <a href="http://farmhouse.co/publishing/1">$20 photobook</a> of bands that you love playing the music that you love.
  </p>
</div>
