<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>
        Matches
        <small>you YASSed each other</small>
      </h1>
    </div>

    <% if @crushers && @crushers.any? %>
      <%= render "/users/listing", users: @crushers %>
    <% else %>
      <p>
        None... <b>yet</b>!
        Hang in there, champ.
        It’ll happen.
      </p>

      <p>
        Better profiles get more YASSes. True fact. Try these things:
      </p>

      <ul>
        <li><strong>Add more and bigger photos.</strong> Use good ones. (Not blurry, not dark. Of your face.)</li>
        <li><strong>Write a good bio.</strong> Try aiming at least 500 words. (Use punctuation and line breaks too.) </li>
        <li><strong>Fill out your settings.</strong> Location. <em>Your</em> interests. Activity tags.</li>
      </ul>
    <% end %>
  </div>
</div><!-- .row -->


<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>
        YASSes
        <small>you like them</small>
      </h1>
    </div>

    <% if @crushes && @crushes.any? %>
      <%= render "/users/listing", users: @crushes %>
    <% else %>
      <p>
        You haven’t crushed on anyone yet.
        Go find someone that makes you excited and click that heart.
      </p>

      <!--
      <p>
        You can search / sort / filter people by:
        location, age (range), labels.
      </p>
      -->
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>
        Bookmarks
        <small>you bookmarked them</small>
      </h1>
    </div>

    <% if @bookmarked_users && @bookmarked_users.any? %>
      <%= render "/users/listing", users: @bookmarked_users %>
    <% else %>
      <p>
        You haven’t YASSed on anyone yet.
        Bookmarks are like secret YASSes. It allows you to add them to your list <em>without</em> notifying them.
        Feel free to bookmark at will without consequence. Get wild!
      </p>
    <% end %>
  </div>
</div>
