<% group.each do |row| %>
  <div class="row">
    <% row.each do |stat| %>

      <div class="col-sm-4">
        <div class="well">
          <h2><%= number_with_delimiter stat[0] %></h2>
          <h3>
            <span class="btn btn-lg btn-<%= stat[1] %>"><i class="fa fa-lg fa-<%= stat[2] %>"></i></span>
            <%= stat[3] %>
          </h3>
        </div>
      </div>

    <% end %>
  </div>
<% end %>
