<div class="page-header">
  <h1>
    Goodbye!
    <small>Come back anytime.</small>
  </h1>
</div>

<div class="col-12" id="about-us">
  <div class="jumbotron">
    <p>
      We support your decision. We believe in change and hope you find just what it is that you are looking for.
      If something changes and you want to come back, the door is always open.
      If you want to tell us anything about your experience here on <b><%= t(:brand) %></b> or
      why you&rsquo;re leaving, we&rsquo;re listening.
  </p>

  <p>
    Email us at
    <%= mail_to "#{t(:hq_email)}?subject=Left%20and%20leaving", t(:hq_email) %>.
  </p>
  </div>
</div>
