<div class="page-header">
  <h1>About Us</h1>
</div>

<div class="row" id="about-us">
  <div class="col-sm-6">
    <a href="/@veganstraightedge" title="Shane&rsquo;s Kypsy profile">
      <%= image_tag "shane-becker.jpg", alt: "Shane Becker&rsquo;s photobooth from a Pete and Pete reunion show in LA" %>
    </a>

    <h3 class="h4">
      Shane Becker
      <small><a href="/@veganstraightedge" title="Shane&rsquo;s Kypsy profile">@veganstraightedge</a></small>
    </h3>
    <p>Shane came up with the idea for <b>Kypsy</b> in <time datetime="2008-05-10">May of 2008</time> (originally called <i>Straightedge Date</i> until <a href="https://twitter.com/jbarnette">John Barnette</a> pointed the now obvious word play). He put up an &ldquo;enter your email to be notified we launch&rdquo; one-page website and then promptly put it on the back burner. Until&hellip;</p>
  </div>

  <div class="col-sm-6">
    <a href="/@bookis" title="Bookis' Kypsy profile">
      <%= image_tag "bookis-smuin.jpg", alt: "Bookis Smuin&rsquo;s yearbook photo from freshman year of high school" %>
    </a>

    <h3 class="h4">
      Bookis Smuin
      <small><a href="/@bookis" title="Bookis' Kypsy profile">@bookis</a></small>
    </h3>
    <p>&hellip;years later Bookis was chatting with Shane wondering whatever happened to that idea. He learned that it had sat dormant mostly for lack of a partner in crime. He dove in to help see it through. Bookis programmed all of the bits. Shane designed all of the pixels.</p>
  </div>
</div> <!-- .row -->


<div class="page-header">
  <h1>
    Pro Tips&trade;
    <small>about the site</small>
  </h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
      We&rsquo;ve intentionally kept <b>Kypsy</b> very simple.
      You can only do a few things with other people on this site.
      We believe that a dating site should stay out of the way.
    </p>
    <p>
      Find people, look at their high-level labels, then message them.
      Talk to other humans, find out if you&rsquo;re a good match, then go on a date.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2 class="h3">Actions</h2>
    <table class="table">
      <tr>
        <th><span class="btn btn-lg btn-info"><i class="fa fa-lg fa-comment"></i></span></th>
        <td>
          <h3 class="h4">Message</h3>
          <p>If you want to start talking with someone, this button will start a conversation. Keep it positive. Be friendly. Have fun.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><i class="fa fa-lg fa-star text-primary"></i></span></th>
        <td>
          <h3 class="h4">Bookmark</h3>
          <p>A bookmark is like a secret crush. They'll be saved to your list for future visits, but they won't know that you're crushing on them. (Don't be a creep, though.) Only you can see this.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-primary"><i class="fa fa-lg fa-star"></i></span></th>
        <td>
          <h3 class="h4">Un-Bookmark</h3>
          <p>Just like the un-crush button, this will remove your bookmark. No harm, no foul.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><i class="fa fa-lg fa-heart text-danger"></i></span></th>
        <td>
          <h3 class="h4">Crush</h3>
          <p>If you think you like someone, crush on them. This button will let them know that you have a crush on them. It'll also put them in your list of crushes for future visits. Only you and them can see this.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-danger"><i class="fa fa-lg fa-heart"></i></span></th>
        <td>
          <h3 class="h4">Un-Crush</h3>
          <p>If you change your mind later, that&rsquo;s okay. This button will remove your crush.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><i class="fa fa-lg fa-flag-o text-warning"></i></span></th>
        <td>
          <h3 class="h4">Flag As Inappropriate</h3>
          <p>If a photo or person feels out of line to you, let us know and we'll look into it.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-warning"><i class="fa fa-lg fa-flag"></i></span></th>
        <td>
          <h3 class="h4">Un-Flag As Inappropriate</h3>
          <p>Just like the un-crush button, this will remove your flagging of inappropriateness. No harm, no foul.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><i class="fa fa-lg fa-ban text-danger"></i></span></th>
        <td>
          <h3 class="h4">Block</h3>
          <p>If you really don't want to ever see a person, you can block them.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-danger"><i class="fa fa-lg fa-ban"></i></span></th>
        <td>
          <h3 class="h4">Un-Block</h3>
          <p>To unblock someone, you have to go directly to their profile and click the unblock button.</p>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-sm-6">
    <h2 class="h3">Profiles</h2>
    <table class="table">
      <tr>
        <th><span class="btn btn-lg btn-success"><i class="fa fa-lg fa-picture-o"></i></span></th>
        <td>
          <h3 class="h4">Photos</h3>
          <p>Let&rsquo;s be honest. We use the web to look at photos of each other. We all hope to find someone who is attractive to us, and that finds us attractive. So, add lots of good photos of you to your profile.</p>
        </td>
      </tr>

      <tr>
        <th><span class="btn btn-lg btn-default"><i class="fa fa-lg fa-user"></i></span></th>
        <td>
          <h3 class="h4">Personal Details</h3>
          <p>We ask very few questions about you for your profile. The best bios profiles are the most complete ones. You can use the free-form text bio to tell people more than the very high-level statistics. <em>What&rsquo;s your story?</em></p>
        </td>
      </tr>
    </table>
  </div>
</div> <!-- .row -->

<div class="row">

  <div class="col-sm-6">
    <h2 class="h3">Contact Information</h2>
    <table class="table">
      <tr>
        <th>
          <a href="https://twitter.com/kypsy" class="btn btn-lg btn-default">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
        </th>
        <td>
          <h3 class="h4">
            Twitter
            <small><a href="https://twitter.com/kypsy" title="Kypsy on Twitter">@kypsy</a></small>
          </h3>
          <p><a href="https://twitter.com/intent/tweet?text=@kypsy%20">Tweet at us</a>. We're pretty friendly.</p>
        </td>
      </tr>

      <tr>
        <th>
          <a href="mailto:us@kypsy.com" class="btn btn-lg btn-default">
            <i class="fa fa-lg fa-inbox"></i>
          </a>
        </th>
        <td>
          <h3 class="h4">
            Email
            <small><a href="mailto:us@kypsy.com" title="us@kypsy.com">us@kypsy.com</a></small>
          </h3>
          <p>Want to go old school? That&rsquo;s fine. We still use and love the emails. Fire away.</p>
        </td>
      </tr>

      <tr>
        <th>
          <a href="http://instagram.com/kypsy" class="btn btn-lg btn-default">
            <i class="fa fa-lg fa-instagram"></i>
          </a>
        </th>
        <td>
          <h3 class="h4">
            Instagram
            <small><a href="http://instagram.com/kypsy" title="Kypsy on Instagram">@kypsy</a></small>
          </h3>
          <p>If you &lsquo;gram up anything about the site or your dating adventures, mention us so we see it.</p>
        </td>
      </tr>

      <tr>
        <th>
          <a href="http://web.stagram.com/tag/kypsy" class="btn btn-lg btn-default">
            <i><b>#</b></i>
          </a>
        </th>
        <td>
          <h3 class="h4">
            #Hashtags
            <small><a href="https://twitter.com/search?q=%23kypsy" title="#Kypsy on Twitter">#kypsy</a></small>
          </h3>
          <p>
            #Hashtag all the things.
            <a href="https://twitter.com/search?q=%23kypsy">#kypsy on Twitter</a>.
            <a href="http://web.stagram.com/tag/kypsy" title="#kypsy Instagram photos | Webstagram">#kypsy on Instagram</a>.
            <a href="https://www.facebook.com/hashtag/kypsy">#kypsy on Facebook</a>.
            PS. Thanks, <a href="http://factoryjoe.com/blog/2007/08/25/groups-for-twitter-or-a-proposal-for-twitter-tag-channels">Chris Messina</a>!
          </p>
        </td>
      </tr>

    </table>
  </div>

  <div class="col-sm-6">
    <h2 class="h3">Kypsy Code of Conduct</h2>

    <p>
      All users of Kypsy are required to agree with the following code of conduct. Kypsy owners will enforce this code. We are expecting cooperation from all users to help ensuring a safe environment for everybody.
    </p>

    <p>In short:</p>
    <ol>
      <li>Don't be a creep.</li>
      <li>Keep it positive.</li>
      <li>Have fun.</li>
    </ol>

    <p>Contact one of us. We'll do everything we can.</p>

    <ul>
      <li>Shane Becker (<a href="mailto:veganstraightedge@gmail.com">veganstraightedge@gmail.com</a>)</li>
      <li>Kypsy HQ : (<a href="mailto:us@kypsy.com">us@kypsy.com</a>)</li>
    </ul>

    <h3>The Quick Version</h3>
    <p>
      Kypsy is dedicated to providing a harassment-free website experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of website participants in any form. Website participants violating these rules may be sanctioned or expelled from the website without at the discretion of the website organizers.
    </p>


    <h3>The Less Quick Version</h3>
    <p>
      Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption, and unwelcome sexual attention.
    </p>

    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

    <p>
      Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material.
    </p>

    <p>
      If a participant engages in harassing behavior, the website organizers may take any action they deem appropriate, including warning the offender or expulsion from the website.
    </p>

    <p>
      If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of website staff immediately.
    </p>

    <p>
      Website staff will be happy to help participants contact security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of their use of the website. We value your attendance.
    </p>

    <p>
      We expect participants to follow these rules on the website and website-related social events.
    </p>


    <p>
      Out of step, <br />
      <i class="fa fa-heart"></i>
      Shane + Bookis
    </p>

    <div class="well">
      <ul>
        <li>Original source and credit: <a href="http://2012.jsconf.us/#/about">JS Conf 2012</a> &amp; <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">The Ada Initiative</a></li>
        <li>Please help by translating or <a href="https://github.com/leftlogic/confcodeofconduct.com">improving it on GitHub</a>.</li>
        <li>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons (BY 3.0 License</a></li>
      </ul>
    </div>
  </div>

</div> <!-- .row -->
