// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  border-radius: 6px;
}

#map-container footer {
  display: none;
}

.js-user-container {
  max-height: 400px;
  margin: 0;
  padding: 0;
}

.subheader-container input, .subheader-container label {
  margin: 0;
  padding: 0;
}
.subheader-container {
  position: absolute;
  top: 60px;
  left: 100px;
  background-color: white;
  padding: 0 15px 3px 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 0px 4px gray;
  padding-bottom: 10px;
}

.filters {
  display: none;
}

.show-filters-button {
  font-weight: bold;
  color: #222;
  text-decoration: none;
  &:hover, &:active, &:visited {
    text-decoration: none;
    color: black;
  }
  .up { display: none; }
  &.active {
    .up { display: inline; }
    .down { display: none; }
  }
}
