main {
  margin-bottom: 5em;
}

#people .person-card {
  outline: 1px solid red;

  .u-photo {
    width: 100%;
  }
}

#people .media-body {
  display: block;
  clear: both;
  float: none;
  width: 100%;
}

@media (min-device-width: 640px) {
  #person .media-title {
    font-size: 2rem;
  }
}

#people .media .u-url {
  display: block;
  clear: both;
  float: none;
  margin-bottom: 5px;
}

.person {
  clear: both;
  padding: 0;
  min-height: 4em;
}

.person .media-heading {
  color: #ccc;
  font-weight: normal;
}

.person .u-photo {
  width:  100%;
}

.person .p-name {
  font-weight: bold;
}

#people .person .u-email {
  display: none;
}

/* profile actions... */
.actions .btn-group a b {
  font-weight: normal;
}

@media (max-device-width: 480px) {
  .actions .btn-group a b {
    display: none !important;
  }
}
/* ...profile actions */

#person {
  #photos {
    margin-top: 1em;
  }

  #photos .h-entry {
    margin-bottom: 2em;
  }

  #photos img {
    max-width: 100%;
    margin-top: 1em;
  }

  .note {
    margin-top: 1em;
  }

  .note p {
    margin-bottom: .5em;
  }
}
/* #people */
