/* masthead and nav... */
nav[role=navigation] {
  border-top: 5px solid $color-bright-orange;
  border-bottom: 5px solid $color-bright-green;

  .navbar-brand {
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1em;
    padding-left: 2em;
  }
}
/* ...masthead and nav */


/* bootstrap additions... */
.form-inline {
  display: inline-block
}

.btn-cancel {
  text-align: left !important;
}

/* ...bootstrap additions */

/* person in media block... */
.person img,
.conversation img {
  max-width:  100px;
}
/* ...person in media block */


/* pagination... */
#pagination {
  text-align: center;
}
/* ...pagination */


/* buttons... */
/* makes these the last button in a group. */
/* needed because they're inside of a form and the first button in the group isn't. */
#unbookmark button,
#new_secret_crush button {
  -webkit-border-top-left-radius:    0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft:        0;
  -moz-border-radius-bottomleft:     0;
  border-top-left-radius:            0;
  border-bottom-left-radius:         0;
}

/* TODO HACK Button classes on <li> instead of <a> */
/* /photos/new?getting=started */
.actions li form,
.actions li {
  display: inline-block;
}
/* ...buttons */


/* DANGER ZONE... */
/* lovingly inspired by GitHub's Danger Zone™ */
#danger-zone {
  margin-top: 7em;
  outline: 1px solid #c00;
}

#danger-zone .danger-zone-title {
  background: #c00;
  padding: .5em;
  color: white;
  font-weight: bold;
}

#danger-zone .danger-zone-body {
  padding: 1em;
  overflow: hidden;
}

#danger-zone p {
  margin-bottom: 1em;
}

#danger-zone b {
  color: #c00;
}
/* ...DANGER ZONE */
